h1 {
    text-align: center;
}
p {
    text-align: left;
}

.redText {
	color: red;
}
.blueText {
	color: blue;
}
.greenText {
	color: green;
}

.bigText {
	font-size: 28px;
}

.smallText {
	font-size: 14px;
}

.ctrText {
	text-align: center;
}

.boldText {
	font-weight: bold;
}

.newFont {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
 .halloween {
 	color: orange;
 	font-size: 28px;
 	font-weight: bold;
 }

.styledFont {
	color: green;
 	font-size: 22px;
}

#styledImage {
	border: 7px;
	border-color: yellow;
	border-style: solid;
	height: 200px;
    width: 200px;
}
